.title {
    text-align: center;
    font-weight: bold;
}
.button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-top: 20px; /* Add top margin for spacing */
  }
  
  .space {
    width: 20px; /* Add space between buttons */
  }
  th {
    font-weight: bold;
  }