.headerQuesSection {
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0rem 0rem 0rem;
}

.headerText {
  color: #525151;
  font-family: inherit;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 2.375rem;
  margin: 0;
}
.helpText {
  padding: 4rem 0 4rem 0;
  font-family: inherit;
  width: 50%;
  text-align: justify;
  margin: 0;
  position: relative;
}
.phoneNumber {
  color: #f28500;
  font-weight: bold;
}
span {
  margin: 0;
}
.stillHaveQues {
  background-image: url("../../images/propertyStillQuesImage.png");
  background-repeat: no-repeat;
  background-size: 60% 120%;
  background-position: right;
}
