.login-page {
  margin-top: 10vh;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.btn-container {
  display: flex;
  justify-content: center;
}
  